body, html { height: 100%; }
body { background-color: #FFFFFF; }

.drag-upload { height: 3em; width: 90%; opacity: 0; display: none; }
#inputfile { display: none; }

#toolbar { float: left; }

canvas { display: none; }

.fa-sub {
  position: relative;
  left: -.6em;
  width: .2em;
  vertical-align: -.25em;
  text-shadow: 0 0 1px black;
}
