body, html { height: 100%; }

body { background-color: #FFEEFF; }

#tab-bar {
	background-color: #96C8E8;
	padding: 0.5em 2em 0 2em;
	border-bottom: 1px solid #455C6B;
}
#tab-bar ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#tab-bar ul li {
	position: relative;
	top: 0.2em;
	display: inline-block;
	margin: 0 0.3em;
	padding: 0.1em 0.8em;
	background-color: #AAC3D1;
	border-left:  1px solid #455C6B;
	border-top:   1px solid #455C6B;
	border-right: 1px solid #455C6B;
}
#tab-bar ul li.active {
	background-color: #FFEEFF;
	top: 0.3em;
	border-left:  1px solid #455C6B;
	border-top:   1px solid #455C6B;
	border-right: 1px solid #455C6B;
}
#tab-bar button {
	background-color: white;
	color: #02ADFF;
	border: 1px solid #96C8E8;
	margin: 0.1em 0.1em;
}
#tab-bar .button-upload {
	display: inline-block;
}

.tab-container { height: 100%; width 100%; }
.tab {
	background-color: #FFEEFF;
	padding: 1em;
}
.drag-upload { height: 3em; width: 90%; opacity: 0; display: none; }

#input-file { display: none; }
