svg {
	display: block;
	margin: 2em;
}

.bar {
	display: inline-block;
	width: 20px;
	background-color: teal;
	margin-right: 5px;
}

#circles circle {
	fill: olive;
	stroke: orange;
}
#circles circle:hover {
	fill: red;
	stroke: blue;
}

.axis path, .axis line {
	 fill: none;
	 stroke: black;
	 shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 3px;
}
.line:hover {
	stroke: red;
	stroke-width: 3.5px;
}

.dragging {
	stroke: red;
	stroke-opacity: 0.8;
	stroke-width: 3.5px;
}
