<!DOCTYPE html>
<html ng-app="resynthApp">
  <head>
	<meta charset="utf-8">
	<meta name="description" content="Analysis-resynthesis tool">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resynth</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/data.css" rel="stylesheet">
  </head>

  <body>
    <div ng-controller="MainController" drag-upload>
		<input type="file" id="inputfile" class="inputfile" input-change="addFile(f)"/>
		<div class="drag-upload">Drag here!</div>

		<tabset>
			<tab>
				<tab-heading>Resynth</tab-heading>
				Get started by clicking on the <i class="fa fa-plus-square"></i>
			</tab>
			<tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active" ng-controller="TabController" class="tab">
				<div class="btn-group-vertical" id="toolbar">
					<label class="btn btn-primary" ng-model="opModel" btn-radio="'movefree'" title="Move selection">
						<i class="fa fa-fw fa-arrows"></i>
					</label>
					<label class="btn btn-primary" ng-model="opModel" btn-radio="'scaleh'" title="Scale selection horizontally">
						<i class="fa fa-fw fa-arrows-h"></i>
					</label>
					<label class="btn btn-primary" ng-model="opModel" btn-radio="'scalev'" title="Scale selection vertically">
						<i class="fa fa-fw fa-arrows-v"></i>
					</label>
				</div>
				<div sound-magic fftsize="1024"></div>
			</tab>
			<tab select="buttonClicked()" button-upload>
				<tab-heading><i class="fa fa-plus-square"></i></tab-heading>
			</tab>
		</tabset>
    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/mqAudio.js"></script>

    <script src="js/app/MainController.js"></script>
    <script src="js/app/TabController.js"></script>
    <script src="js/ButtonUploadDirective.js"></script>
    <script src="js/DragFileDirective.js"></script>
    <script src="js/InputChangeDirective.js"></script>
    <script src="js/SoundMagicDirective.js"></script>

	<script src="js/vendor/audiolib.js"></script>
	<script src="js/vendor/aurora.js"></script>
	<script src="js/vendor/d3.min.js"></script>
	<script src="js/vendor/lodash.min.js"></script>
  </body>
</html>
