<!DOCTYPE html>
<html ng-app="resynthApp">
  <head>
	<meta charset="utf-8">
	<meta name="description" content="Analysis-resynthesis tool">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resynth</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>

  <body>
    <div ng-controller="MainController" drag-upload class="tab-container">
		<div class="drag-upload">Drag here!</div>

		<div id="tab-bar">
			<ul ng-show="tabs.length > 0">
				<li ng-class="{active: tab==currentTab}"  ng-repeat="tab in tabs" ng-click="setTab(tab)">{{tab.name}}</li>
			</ul>

			<div class="button-upload" button-upload>
				<input type="file" id="input-file" class="input-file" input-change="addFile(f)"/>
				<button ng-click="buttonClicked()">+</button>
			</div>
		</div>

		<div>
			<div ng-repeat="tab in tabs" ng-show="currentTab == tab" ng-controller="TabController" class="tab">
				<div sound-magic fftsize="256"></div>
			</div>
		</div>
    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/app/app.js"></script>

    <script src="js/app/MainController.js"></script>
    <script src="js/app/TabController.js"></script>
    <script src="js/ButtonUploadDirective.js"></script>
    <script src="js/DragFileDirective.js"></script>
    <script src="js/InputChangeDirective.js"></script>
    <script src="js/SoundMagicDirective.js"></script>

	<script src="js/vendor/audiolib.js"></script>
	<script src="js/vendor/aurora.js"></script>
	<script src="js/vendor/lodash.min.js"></script>
  </body>
</html>
